:root {
	--dark: #201533;
	--less-dark: #203562;
	--white: #ffffff;
	--neutral: #1e579c;
	--light-accent: #0ce6f2;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: ghostwhite;
}

.container {
	display: block;
	justify-content: center;
	align-items: center;
}

.image-container {
	border: 5px solid;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 10px;
	width: 325px;
	height: 325px;
	padding: 15px;
	box-sizing: content-box;
	/*Ensure padding is included in the width and height */
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	position: absolute;
	width: 325px;
	height: 325px;
	animation: rotate var(--rotation-speed, 5s) linear infinite var(--rotation-direction, normal);
	transform-origin: center center;
	padding: 0;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.controls {
	margin-bottom: 10px;
	align-items: center;
	text-align: center;
}

.pause-button {
	margin-top: 10px;
}

#image1 {
	justify-content: center;
	z-index: 1;
}

#image2 {
	align-items: center;
	z-index: 2;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: var(--dark);
	border-radius: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 7.5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.grid-item:first-child {
	margin-left: 5px;
	margin-right: 2.5px;
}

.grid-item:last-child {
	margin-right: 5px;
	margin-left: 2.5px;
}

.grid-title {
	margin: 0;
	text-align: center;
}

.header {
	vertical-align: top;
	font-family: Monaco, monospace;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-bottom: 2%;
	color: var(--white);
	background-color: var(--dark);
}

.footer {
	bottom: 0;
	vertical-align: top;
	font-family: Monaco, monospace;
	text-align: center;
	width: 100%;
	height: 30px;
	padding-bottom: 2%;
	margin-top: 2%;
	margin-bottom: 0;
	color: var(--white);
	background-color: var(--dark);
}

div {
	font-family: "ida Console", monospace;
}

img {
	text-indent: -10000px
}

button,
input[type="number"] {
	background-color: var(--neutral);
	color: var(--white);
	border-color: var(--dark);
	border-radius: 5px;
	padding: 5px 3.5px 5px 3.5px;
}

form-control {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-control+.form-control {
	margin-top: 1em;
}

.form-control--disabled {
	color: grey;
	cursor: not-allowed;
}

input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--neutral);
	/* Not removed via appearance */
	margin: 0;

	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform:
		translateX(0.05em);

	display: inline-grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 0.6em;
	height: 0.6em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1.5em 1.5em var(--light-accent);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
	--form-control-color: grey;

	color: grey;
	cursor: not-allowed;
}