/* Variable Definitions */
:root {
	--dark: #201533;
	--less-dark: #203562;
	--white: #ffffff;
	--neutral: #1e629c;
	--light-accent: #44B2FF;
	--grey: #D2D0D6;
}

/* Global Styles */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: ghostwhite;
}

/* Containers */
.container {
	display: block;
	justify-content: center;
	align-items: center;
}

.image-container {
	border: 5px solid;
	margin: auto;
	background-color: var(--grey);
	position: relative;
	border-radius: 10px;
	width: 325px;
	height: 325px;
	padding: 10px;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Images */
.image {
	position: absolute;
	width: 325px;
	height: 325px;
	animation: rotate var(--rotation-speed, 5s) linear infinite var(--rotation-direction, normal);
	transform-origin: center center;
	padding: 0;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Controls */
.controls {
	margin-bottom: 10px;
	align-items: center;
	text-align: center;
}

.pause-button {
	margin-top: 10px;
}

/* Specific Element Styles */
#image1 {
	justify-content: center;
	z-index: 1;
}

#image2 {
	align-items: center;
	z-index: 2;
}

/* Grid */
.grid-container {
	display: grid;
	/* grid-template-columns: 1fr 1fr 5fr; */
	grid-auto-flow: column;
	border-radius: 10px;
	justify-content: center;
	margin-top: 5px;
	max-width: 725px;
}

.grid-item {
	background-color: var(--grey);
	padding: 10px;
	border: 8px solid;
	border-color: var(--dark);
	border-radius: 16px;
}

.grid-item:first-child {
	margin-left: 5px;
	margin-right: 2.5px;
}

.grid-item:last-child {
	margin-right: 5px;
	margin-left: 2.5px;
}

.grid-title {
	margin: 0;
	text-align: center;
	font-size: 18px;
}

/* Header and Footer */
.header,
.footer {
	vertical-align: top;
	font-family: Monaco, monospace;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-bottom: 2%;
	color: var(--white);
	background-color: var(--dark);
}

.footer {
	margin-top: 2%;
	margin-bottom: 0%;
	line-height: 0;
}

/* Typography */
div {
	font-family: "ida Console", monospace;
}

img {
	text-indent: -10000px;
}

/* Buttons and Inputs */
button,
input[type="number"] {
	background-color: var(--neutral);
	color: var(--white);
	border-color: var(--dark);
	border-radius: 5px;
	padding: 5px 3.5px 5px 3.5px;
}

input[type="number"] {
	transform: translateX(-10px);
}

/* Lists */
li {
	margin-bottom: 8px;
	list-style-type: square;
}

.instructions {
	font-size: 15px;
}

/* Form Controls */
.form-control {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 16px auto;
	gap: 8px;
}

.form-control+.form-control {
	margin-top: 1em;
}

.form-control--disabled {
	color: grey;
	cursor: not-allowed;
}

/* Checkboxes */
input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--neutral);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 18px;
	height: 18px;
	border: 1.5px solid currentColor;
	border-radius: 4px;
	transform: translateX(2px) translateY(2px);
	display: inline-grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 10px;
	height: 10px;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 18px 18px var(--light-accent);
	background-color: CanvasText;
	border-radius: 2px;
	background-clip: content-box;
	padding: 0.5px;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:focus {
	outline: max(2px, 10px) solid currentColor;
	outline-offset: max(2px, 10px);
}

input[type="checkbox"]:disabled {
	--form-control-color: grey;
	color: grey;
	cursor: not-allowed;
}

/* Color Picker */
input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 28px;
	height: 28px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transform: translateY(4px);
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 4px;
	border: 1.5px solid #000;
}

input[type="color"]::-moz-color-swatch {
	border-radius: 4px;
	border: 1.5px solid #000;
}